.DS_Store
coc
clash
karabiner
github-copilot
xbuild
zathura
jgit
configstore
raycast
filezilla
btop
StardewValley
fd
fish/fish_variables
fish/config.fish
KDE
Trolltech.conf
akonadi
akregatorrc
dconf
dolphinrc
fcitx
fcitx5
fontconfig
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
ibus
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kdedefaults
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
khtml
kmail2rc
kmixrc
konquerorrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse
session
spectaclerc
systemsettingsrc
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc
xsettingsd
autostart/
baloofilerc
bluedevilglobalrc
kded6rc
kwinoutputconfig.json
libaccounts-glib/
